body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e627c;
  color: white;
}

.password-container {
  text-align: center;
  background-color: #804a7c;
  width: 50%;
  padding: 2rem;
  margin-top: 10%;
  margin: 0 auto;
  border-radius: 0.4rem;
  border: 2px solid #533050;
  box-shadow: 5px 5px 5px rgba(57, 57, 57, 0.794);
}

h1 {
  text-align: center;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 4px;
}

input {
  margin: 0.8rem 0;
}
button {
  display: block;
  margin: 1.1rem auto;
  padding: 1rem 1.1rem;
  font-size: 0.9rem;
  background-color: #573254;
  color: #b189ad;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
button:hover {
  background-color: #0062cc;
}

#password {
  margin: 10px 0;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}
